# testing URL on pandas list

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Using track IDs on pandas DF
my_song_id= ['1ZwdS5xdxEREPySFridCfh','5WUlDfRSoLAfcVSX1WnrxN']
song_title=['cheap thrills', 'treasure']

# empty list
df_songs= pd.DataFrame(song_title, columns=['title'])
df_songs

           title
0  cheap thrills
1       treasure

In [3]:
# adding HTTP to make a ULR link on DF column
link_url= 'https://open.spotify.com/track/3SdTKo2uVsxFblQjpScoHy?si='
song_link= []
for l in my_song_id:
    song_link.append(link_url+l)
song_link

['https://open.spotify.com/track/3SdTKo2uVsxFblQjpScoHy?si=1ZwdS5xdxEREPySFridCfh',
 'https://open.spotify.com/track/3SdTKo2uVsxFblQjpScoHy?si=5WUlDfRSoLAfcVSX1WnrxN']

In [4]:
# adding the LINK to each song id
   
df_songs['song_URL']= song_link
df_songs

           title                                           song_URL
0  cheap thrills  https://open.spotify.com/track/3SdTKo2uVsxFblQ...
1       treasure  https://open.spotify.com/track/3SdTKo2uVsxFblQ...

In [5]:
from urllib.request import urlopen

In [6]:
def make_click(val):
    return '<a href="{}">{}</a>'.format(val,val)

In [10]:
df_songs=df_songs.style.format({'song_URL': make_click})
#df_songs

In [11]:
df_songs